<!-- Portfolio -->
<div class="myportfolio" id="portfolio">
  <h3 class="text-center slideanim">My Portfolio</h3>
  <p class="text-center slideanim">My Recent Projects , Just "Click" on them to know More.</p>
  <section class="vertical" id="grid3d">
      <div class="grid-wrap">
        <div class="grid">
          <figure><img class="slideanim" src="assets/images/1.jpg" alt="img01"/></figure>
          <figure><img class="slideanim" src="assets/images/2.jpg" alt="img05"/></figure>
          <figure><img class="slideanim" src="assets/images/3.jpg" alt="img08"/></figure>
          <figure><img class="slideanim" src="assets/images/4.jpg" alt="img02"/></figure>
          <figure><img class="slideanim" src="assets/images/5.jpg" alt="img04"/></figure>
          <figure><img class="slideanim" src="assets/images/6.jpg" alt="img03"/></figure>
          <figure><img class="slideanim" src="assets/images/7.jpg" alt="img09"/></figure>
          <figure><img class="slideanim" src="assets/images/8.jpg" alt="img06"/></figure>
          <figure><img class="slideanim" src="assets/images/9.jpg" alt="img07"/></figure>
        </div>
      </div><!-- /grid-wrap -->
      <div class="content">
        <div>
          <div class="content-img"><img src="assets/images/1-1.jpg" class="img-responsive" alt="my projects"></div>
          <h3 class="content-text">Classy Coming Soon</h3>
          <p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div>
          <div class="content-img"><img src="assets/images/2-2.jpg" class="img-responsive" alt="my projects"></div>
          <h3 class="content-text">404 Error Page</h3>
          <p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div>
          <div class="content-img"><img src="assets/images/3-3.jpg" class="img-responsive" alt="my projects"></div>
          <h3 class="content-text">Credit Card Validation</h3>
          <p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div>
          <div class="content-img"><img src="assets/images/4-4.jpg" class="img-responsive" alt="my projects"></div>
          <h3 class="content-text">Eshop Product Detail Widget</h3>
          <p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div>
          <div class="content-img"><img src="assets/images/5-5.jpg" class="img-responsive" alt="my projects"></div>
          <h3 class="content-text">Model Profile Widget</h3>
          <p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div>
          <div class="content-img"><img src="assets/images/6-6.jpg" class="img-responsive" alt="my projects"></div>
          <h3 class="content-text">Flat Under Construction</h3>
          <p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div>
          <div class="content-img"><img src="assets/images/7-7.jpg" class="img-responsive" alt="my projects"></div>
          <h3 class="content-text">Impressive Under Construction</h3>
          <p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div>
          <div class="content-img"><img src="assets/images/8-8.jpg" class="img-responsive" alt="my projects"></div>
          <h3 class="content-text">Profile Widget</h3>
          <p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div>
          <div class="content-img"><img src="assets/images/9-9.jpg" class="img-responsive" alt="my projects"></div>
          <h3 class="content-text">Travel Reservation Widget</h3>
          <p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <span class="loading"></span>
        <span class="icon close-content"></span>
      </div>
    </section>
  </div>	
<!-- /Portfolio -->